В данной работе произведены обычные вычисления и манипулирования с таблицами при помощи библиотеки pandas. В результате исследования получена модель индекса, аггрегирующего в себе разношерстные данные из семи таблиц. Данная модель имеет две метрики - рост и процентный рост по десятилетиям. p.s. Данная работа преследовала цель произвести вычисления для моей выпускной квалификационной работы, по соображениям политкорректности, выводы академической части публиковаться не будут.

In [488]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', None)

#1.1 Функции

In [489]:
def read_xls(paper_name):
  df = pd.read_excel('/content/drive/MyDrive/Diploma/df.xlsx',index_col=0, sheet_name=paper_name)
  df = df.astype(float, errors='ignore')
  df.reset_index(inplace=True)
  return df

In [490]:
def rename_columns(df, start_year=None, end_year=None):
    if len(df.columns) == 2:
        new_column_names = ['country', 'total'] #специально для таблицы df_mig
    else:
        new_column_names = ['country'] + [str(x) for x in range(start_year, end_year + 1)][1:] + ['total']

    df.columns = new_column_names
    return df

In [491]:
def index_method(x, denominator, k):
    x_index = (x / denominator) * k
    result = "{:.4f}".format(x_index)
    return result

# 1.2 Загрузка данных

In [492]:
df_trade = read_xls('trade')
df_fdi = read_xls('FDI')
df_di = read_xls('DI')
df_mig = read_xls('Migration')
df_pol = read_xls('Politics')
df_eco = read_xls('Economics')
df_cul = read_xls('Culture')

#1.3 Фильтрация данных

In [493]:
rename_columns(df_trade,2001,2021)
rename_columns(df_fdi,2003,2021)
rename_columns(df_di,2003,2021)
rename_columns(df_pol,2015,2017)
rename_columns(df_eco,2015,2017)
rename_columns(df_cul,2015,2017)
rename_columns(df_mig,2001,2021)
df_pol.rename(columns={"2016":"2015"},inplace = True)
df_eco.rename(columns={"2016":"2015"},inplace = True)
df_cul.rename(columns={"2016":"2015"},inplace = True)

In [494]:
pd.set_option('display.float_format', lambda x: '%.f' % x) #Каждый раз прописываем, чтобы увидеть целые числа (не осилил через astype int)

In [495]:
display(df_trade,df_fdi,df_di,df_mig)

,country,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,total
0,Russia,196025000,273145000,431392000,513342000,806086000,1213379000,1802351000,1275213000,1341621000,1713988000,2003740000,2141944000,1902125000,1418475000,1053731000,1442759000,1553987000,1633080000,1557582000,2285409000,26559374000
1,China,99220000,101030000,119422000,129451000,283759000,417435000,772596000,636596000,694558000,965584000,1271627000,1471001000,1131251000,1064589000,1548527000,1597540000,2003496000,1815401000,780070000,1527432000,18430585000
2,EU,112489000,124017000,151028000,143056000,224421000,276758000,756923000,359421000,370025000,475072000,598730000,694897000,783046000,365819000,316618000,541380000,1065162000,1183395000,1297127000,575312000,10414696000
3,Turkey,33408000,36991000,50289000,51877000,66693000,93876000,135963000,110362000,121909000,171582000,228697000,290384000,393966000,247599000,281112000,356134000,394504000,311829000,269361000,411764000,4058300000
4,USA,76285000,54446000,47837000,70514000,103569000,99876000,124154000,75106000,281553000,210952000,256119000,227332000,111175000,122952000,154052000,156271000,130698000,92492000,122912000,104739000,2623034000
5,Other,522240000,709060000,859679000,871592000,1027736000,1449844000,2097902000,1695443000,1901370000,2702441000,2697500000,2930694000,3296874000,2364735000,2108574000,2177965000,1524166000,1833118000,1621523000,2324419000,36716875000
6,Total,1039667000,1298689000,1659647000,1779832000,2512264000,3551168000,5689889000,4152141000,4711036000,6239619000,7056413000,7756252000,7618437000,5584169000,5462614000,6272049000,6672013000,6869315000,5648575000,7229075000,98802864000
7,EAEU,356291000,508609000,728666000,818443000,1188174000,1756084000,2411402000,1746012000,1973268000,2532209000,3100971000,3209366000,3284082000,2388930000,1962139000,2418216000,2345133000,2636646000,2400936000,3428049000,41678338000
8,Other2,361974000,473596000,562405000,566491000,645648000,907139000,1488851000,1224644000,1269723000,1884220000,1600269000,1863272000,1914917000,1394280000,1200166000,1202508000,733020000,829552000,778169000,1181779000,22082623000

,country,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,total
0,China,6784700,4510200,7316700,29090300,57530800,51467700,70752100,149602200,141171600,468336600,221646200,474412200,301303100,303025100,338092600,338052800,136116300,233308300,3332519500
1,EU,34787000,84731400,116757100,124879500,147858400,127245900,92907700,101270600,115948300,158420400,112195400,238562900,27461400,99257200,103032900,173100400,95796200,159066600,2113279300
2,Russia,11866500,8127900,19786200,13352100,36178500,44910800,97372500,18693100,25444500,69817200,60400300,515488000,291537500,98621000,124361100,38224600,13477700,120675200,1608334700
3,Turkey,23082400,16109900,12814900,16557700,12761700,37776200,8109400,5380300,22347100,23763700,29210600,111112300,33235600,17174500,93461000,94565500,24296100,102875300,684634200
4,USA,13952300,11719900,6357600,13029700,6286300,23148500,11861100,12104800,5527000,8243900,14899100,12034100,3190000,7366000,5740300,6594700,6262000,3557800,171875100
5,Other,85112500,85106900,172556700,239912300,605584900,376400200,385083200,562150100,280294800,235925300,288739600,221634200,157233100,91349300,187055700,426380700,261605500,78922000,4741047000
6,Total,175585400,210306200,335589200,436821600,866200600,660949300,666086000,849201100,590733300,964507100,727091200,1573243700,813960700,616793100,851743600,1076918700,537553800,698405200,12651689800
7,EAEU,27906500,49057400,156925900,196928700,400543600,258775400,138761300,42792900,59695500,123926600,91024300,576962700,314702200,145621000,153832600,76766400,47218000,164804800,3026245800
8,Other2,69072500,44177400,35417000,56335700,241219800,162535600,343694400,538050300,246043800,181815900,258115600,160159500,134068400,44349300,157584200,387838900,227865200,34792400,3323135900

,country,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,total
0,Russia,157562200,282905200,501571000,412239500,807404100,1039934800,473438900,394716600,467859400,593352400,1104135100,1976019100,1657761900,1063904400,1804714900,1387118500,1763586700,2100365500,17988590200
1,China,9256800,22005600,92721500,57845800,114069300,254858900,231550400,356200900,662149400,883290500,468781800,1258393500,781244000,996325700,690135700,865291300,435887200,546922000,8726930300
2,EU,62625600,87068500,123360000,154476300,222520600,86543600,208053200,394981900,151895400,297825000,310243900,213763700,152546800,231792800,235886000,254217400,148399600,215561500,3551761800
3,Turkey,27163700,27078700,29571800,51817700,80276900,235112900,76130900,91129300,140064000,132313900,163484800,195655500,91648100,72601900,186393700,209733800,116011200,474060400,2400249200
4,USA,37521500,107166700,102230200,55310200,43931000,80744400,49846300,42005900,71370100,36418600,102801300,50948100,132406100,550517700,182573500,17599900,16846800,11304900,1691543200
5,Other,1218071900,1644627600,1664557100,2426343500,3129531800,2867580500,2533431300,3668951300,2842515700,3543845300,3266225100,1920572900,2519443500,2304757300,3839421800,4545986100,4446050300,2983141700,51365054700
6,Total,1512201700,2170852300,2514011600,3158033000,4397733700,4564775100,3572451000,4947985900,4335854000,5487045700,5415672000,5615352800,5335050400,5219899800,6939125600,7279947000,6926781800,6331356000,85724129400
7,EAEU,222266400,725954500,881858600,797557100,1582260600,1469562000,706687400,715328600,803067500,1037620300,1577977900,2272342300,1916172300,1373469900,2040379000,1692289600,2068464400,2462946500,24346204900
8,Other2,1153367700,1201578300,1284269500,2041025900,2354675300,2437953300,2300182800,3348339300,2507307600,3099577400,2792382300,1624249700,2261033100,1995191800,3603757700,4240815000,4141172600,2620560700,45007440000

  country   total
0  Russia 1661138
1      EU   35107
2  Turkey   23800
3   China    5900
4     USA    2967
5   Other  122719
6   Total 1851631
7    EAEU 1777138
8  Other2    6719

In [496]:
pd.set_option('display.float_format', '{:.4f}'.format) #Прописываем чтобы снова видеть тысячные дробные числа

In [497]:
display(df_pol,df_eco,df_cul)

  country   2015   2017  total
0  Russia 0.3070 0.3109 0.3089
1   China 0.0323 0.0219 0.0271
2  Turkey 0.0266 0.0214 0.0240
3      EU 0.0176 0.0137 0.0157
4     USA 0.0145 0.0043 0.0094
5   Other 0.3112 0.2940 0.3026
6   Total 0.7092 0.6660 0.6876
7    EAEU 0.4910 0.4777 0.4844
8  Other2 0.1271 0.1271 0.1271

  country   2015   2017  total
0  Russia 0.2230 0.2326 0.2278
1      EU 0.1117 0.1400 0.1258
2  Turkey 0.0939 0.0998 0.0969
3   China 0.0508 0.0498 0.0503
4     USA 0.0413 0.0434 0.0423
5   Other 0.3405 0.3153 0.3279
6   Total 0.8612 0.8809 0.8711
7    EAEU 0.3065 0.3035 0.3050
8  Other2 0.2570 0.2444 0.2507

  country   2015   2017  total
0  Russia 0.2101 0.2264 0.2183
1      EU 0.1134 0.1096 0.1115
2  Turkey 0.0799 0.0969 0.0884
3     USA 0.0362 0.0386 0.0374
4   China 0.0246 0.0326 0.0286
5   Other 0.3599 0.3815 0.3707
6   Total 0.8241 0.8857 0.8549
7    EAEU 0.2965 0.3236 0.3100
8  Other2 0.2735 0.2843 0.2789

#1.4 Формула эмпирической верификации

$$_{k}^{1.5}i_{ЭВ} = _{k}^{0.35}i_{ТО} + _{k}^{0.35}i_{ПИИ} + _{k}^{0.32}i_{ИИ}+ _{k}^{0.15}i_{ПС} + _{k}^{0.11}i_{ЕС} + _{k}^{0.11}i_{КС} + _{k}^{0.11}i_{М}$$

$i_{ТО}$ – индекс торгового оборота;

$i=1$ – переменная, которая принимает в себя значение от 1 до n (количество стран);

$x_(i )$– переменная, включающая в себя перечень стран;

$cum x_i$    – кумулированный торговый оборот страны $i$ с Кыргызстаном;

$\sum_{i=1}^n$  – сумма торгового оборота всех стран с Кыргызстаном

$k$ - весовой коэффициент отражает долю каждого показателя в общем наборе данных. в нашем сравнительном индексе позволяет учитывать различную важность каждого из показателей при расчете общего индекса

пример на формуле торгового оборота

$$i_{ТО} = \sum_{i=1}^n{\left(\frac{\text{cum }x_i \cdot k^{0.35}}{\sum_{i=1}^n }\right)}$$

Примечание: собственная разработка автора

#2.1 Индекс торговли

In [498]:
df_trade['2002-2011'] = df_trade.iloc[:, 1:11].fillna(0).sum(axis=1) # разделяем df на части
df_trade['2012-2021'] = df_trade.iloc[:, 11:21].fillna(0).sum(axis=1)
df_trade['total'] = df_trade.iloc[:, 21:].fillna(0).sum(axis=1)

df_trade_indexed = df_trade[['country','2002-2011','2012-2021','total']]

denominator_2011 = df_trade_indexed.iloc[:6]['2002-2011'].sum()
denominator_2021 = df_trade_indexed.iloc[:6]['2012-2021'].sum()
denominator_total = df_trade_indexed.iloc[:6]['total'].sum()

df_trade_indexed['2002-2011_index'] = df_trade_indexed['2002-2011'].apply(lambda x: index_method(x, denominator_2011, 0.35))
df_trade_indexed['2012-2021_index'] = df_trade_indexed['2012-2021'].apply(lambda x: index_method(x, denominator_2021, 0.35))
df_trade_indexed['total_index'] = df_trade_indexed['total'].apply(lambda x: index_method(x, denominator_total, 0.35))

<ipython-input-498-c4beb5c54ccb>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trade_indexed['2002-2011_index'] = df_trade_indexed['2002-2011'].apply(lambda x: index_method(x, denominator_2011, 0.35))
<ipython-input-498-c4beb5c54ccb>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trade_indexed['2012-2021_index'] = df_trade_indexed['2012-2021'].apply(lambda x: index_method(x, denominator_2021, 0.35))
<ipython-input-498-c4beb5c54ccb>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_trade_indexed['total_index'] = df_trade_indexed['total'].apply(lambda x: index_method(x, denominator_total, 0.35))

In [499]:
df_trade_i = pd.merge(df_trade_indexed[['country']], df_trade_indexed.iloc[:, 4:], left_index=True, right_index=True)

#2.2 Индекс прямых иностранных инвестиций

In [500]:
df_fdi['2004-2013'] = df_fdi.iloc[:,1:10].fillna(0).sum(axis=1).astype(int)
df_fdi['2014-2021'] = df_fdi.iloc[:,11:19].fillna(0).sum(axis=1).astype(int)
df_fdi['total'] = df_fdi.iloc[:,19:21].fillna(0).sum(axis=1).astype(int)

df_fdi_indexed = df_fdi[['country','2004-2013','2014-2021','total']]

denominator_2013 = df_fdi_indexed.iloc[:6]['2004-2013'].sum()
denominator_2021 = df_fdi_indexed.iloc[:6]['2014-2021'].sum()
denominator_total_fdi = df_fdi_indexed.iloc[:6]['total'].sum()

df_fdi_indexed['2004-2013_index'] = df_fdi['2004-2013'].apply(lambda x: index_method(x,denominator_2013, 0.35))
df_fdi_indexed['2014-2021_index'] = df_fdi['2014-2021'].apply(lambda x: index_method(x,denominator_2021, 0.35))
df_fdi_indexed['total_index'] = df_fdi['total'].apply(lambda x: index_method(x,denominator_total_fdi, 0.35))

<ipython-input-500-8c9bc29b0b03>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fdi_indexed['2004-2013_index'] = df_fdi['2004-2013'].apply(lambda x: index_method(x,denominator_2013, 0.35))
<ipython-input-500-8c9bc29b0b03>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fdi_indexed['2014-2021_index'] = df_fdi['2014-2021'].apply(lambda x: index_method(x,denominator_2021, 0.35))
<ipython-input-500-8c9bc29b0b03>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_fdi_indexed['total_index'] = df_fdi['total'].apply(lambda x: index_method(x,denominator_total_fdi, 0.35))

In [501]:
df_fdi_i = pd.merge(df_fdi_indexed[['country']], df_fdi_indexed.iloc[:, 4:], left_index=True, right_index=True)

#2.3 Индекс инвестиций

In [502]:
df_di['2004-2013'] = df_di.iloc[:,1:10].fillna(0).sum(axis=1).astype(int)
df_di['2014-2021'] = df_di.iloc[:,11:19].fillna(0).sum(axis=1).astype(int)
df_di['total'] = df_di.iloc[:,19:21].fillna(0).sum(axis=1).astype(int)

df_di_indexed = df_di[['country','2004-2013','2014-2021','total']]

denominator_2013_di = df_di_indexed.iloc[:6]['2004-2013'].sum()
denominator_2021_di = df_di_indexed.iloc[:6]['2014-2021'].sum()
denominator_total_di = df_di_indexed.iloc[:6]['total'].sum()

df_di_indexed['2004-2013_index'] = df_di['2004-2013'].apply(lambda x: index_method(x,denominator_2013_di, 0.32))
df_di_indexed['2014-2021_index'] = df_di['2014-2021'].apply(lambda x: index_method(x,denominator_2021_di, 0.32))
df_di_indexed['total_index'] = df_di['total'].apply(lambda x: index_method(x,denominator_total_di, 0.32))

<ipython-input-502-0427e751df83>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_di_indexed['2004-2013_index'] = df_di['2004-2013'].apply(lambda x: index_method(x,denominator_2013_di, 0.32))
<ipython-input-502-0427e751df83>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_di_indexed['2014-2021_index'] = df_di['2014-2021'].apply(lambda x: index_method(x,denominator_2021_di, 0.32))
<ipython-input-502-0427e751df83>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_di_indexed['total_index'] = df_di['total'].apply(lambda x: index_method(x,denominator_total_di, 0.32))

In [503]:
df_di_i = pd.merge(df_di_indexed[['country']], df_di_indexed.iloc[:, 4:], left_index=True, right_index=True)

#2.4 Индекс политико-социологии

In [504]:
df_pol = df_pol.astype({'2015':'float','2017':'float','total':'float'})
df_pol_indexed = df_pol
denominator_2015_pol = df_pol_indexed.iloc[:6]['2015'].sum()
denominator_2017_pol = df_pol_indexed.iloc[:6]['2017'].sum()
denominator_total_pol = df_pol_indexed.iloc[:6]['total'].sum()
df_pol_indexed['2015_index'] = df_pol['2015'].apply(lambda x: index_method(x,denominator_2015_pol, 0.15))
df_pol_indexed['2017_index'] = df_pol['2017'].apply(lambda x: index_method(x,denominator_2017_pol, 0.15))
df_pol_indexed['total_index'] = df_pol['total'].apply(lambda x: index_method(x,denominator_total_pol, 0.15))

In [505]:
df_pol_i = pd.merge(df_pol_indexed[['country']], df_pol_indexed.iloc[:, 4:], left_index=True, right_index=True)

#2.5 Индекс экономико-социологии

In [506]:
df_eco = df_eco.astype({'2015':'float','2017':'float','total':'float'})
df_eco_indexed = df_eco
denominator_2015_eco = df_eco.iloc[:6]['2015'].sum()
denominator_2017_eco = df_eco.iloc[:6]['2017'].sum()
denominator_total_eco = df_eco.iloc[:6]['total'].sum()
df_eco_indexed['2015_index'] = df_eco['2015'].apply(lambda x: index_method(x,denominator_2015_eco, 0.11))
df_eco_indexed['2017_index'] = df_eco['2017'].apply(lambda x: index_method(x,denominator_2017_eco, 0.11))
df_eco_indexed['total_index'] = df_eco['total'].apply(lambda x: index_method(x,denominator_total_eco, 0.11))

In [507]:
df_eco_i = pd.merge(df_eco_indexed[['country']], df_eco_indexed.iloc[:, 4:], left_index=True, right_index=True)

#2.6 Культурно-социологический индекс

In [508]:
df_cul = df_cul.astype({'2015':'float','2017':'float','total':'float'})
df_cul_indexed = df_cul
denominator_2015_cul = df_cul.iloc[:6]['2015'].sum()
denominator_2017_cul = df_cul.iloc[:6]['2017'].sum()
denominator_total_cul = df_cul.iloc[:6]['total'].sum()
df_cul_indexed['2015_index'] = df_cul['2015'].apply(lambda x: index_method(x,denominator_2015_cul, 0.11))
df_cul_indexed['2017_index'] = df_cul['2017'].apply(lambda x: index_method(x,denominator_2017_cul, 0.11))
df_cul_indexed['total_index'] = df_cul['total'].apply(lambda x: index_method(x,denominator_total_cul, 0.11))

In [509]:
df_cul_i = pd.merge(df_cul_indexed[['country']], df_cul_indexed.iloc[:, 4:], left_index=True, right_index=True)

#2.7 Индекс миграции

In [510]:
df_mig_indexed = df_mig
denominator_total_mig = df_mig.iloc[:6]['total'].sum()
df_mig_indexed['total_index'] = df_mig['total'].apply(lambda x: index_method (x,denominator_total_mig, 0.11))

In [511]:
df_mig_i = pd.merge(df_mig_indexed[['country']], df_mig_indexed.iloc[:, 2], left_index=True, right_index=True)

In [512]:
df_mig_i

  country total_index
0  Russia      0.0987
1      EU      0.0021
2  Turkey      0.0014
3   China      0.0004
4     USA      0.0002
5   Other      0.0073
6   Total      0.1100
7    EAEU      0.1056
8  Other2      0.0004

#3. Комбинируем таблицы индексов

In [513]:
display(df_trade_i,
df_fdi_i,
df_di_i,
df_pol_i,
df_eco_i,
df_cul_i,
df_mig_i)

  country 2002-2011_index 2012-2021_index total_index
0  Russia          0.1026          0.0899      0.0941
1   China          0.0453          0.0752      0.0653
2      EU          0.0321          0.0393      0.0369
3  Turkey          0.0094          0.0168      0.0144
4     USA          0.0123          0.0078      0.0093
5   Other          0.1484          0.1210      0.1301
6   Total          0.3500          0.3500      0.3500
7    EAEU          0.1504          0.1437      0.1468
8  Other2          0.1007          0.0672      0.0782

  country 2004-2013_index 2014-2021_index total_index
0   China          0.0379          0.1191      0.0773
1      EU          0.0691          0.0512      0.0614
2  Russia          0.0201          0.0641      0.0378
3  Turkey          0.0113          0.0257      0.0168
4     USA          0.0076          0.0030      0.0055
5   Other          0.2040          0.0869      0.1512
6   Total          0.3500          0.3500      0.3500
7    EAEU          0.0973          0.0797      0.0874
8  Other2          0.1268          0.0713      0.1015

  country 2004-2013_index 2014-2021_index total_index
0  Russia          0.0466          0.0839      0.0617
1   China          0.0185          0.0394      0.0288
2      EU          0.0153          0.0115      0.0138
3  Turkey          0.0078          0.0098      0.0086
4     USA          0.0061          0.0069      0.0062
5   Other          0.2258          0.1684      0.2008
6   Total          0.3200          0.3200      0.3200
7    EAEU          0.0811          0.1005      0.0883
8  Other2          0.1912          0.1518      0.1742

  country 2015_index 2017_index total_index
0  Russia     0.0649     0.0700      0.0674
1   China     0.0068     0.0049      0.0059
2  Turkey     0.0056     0.0048      0.0052
3      EU     0.0037     0.0031      0.0034
4     USA     0.0031     0.0010      0.0020
5   Other     0.0658     0.0662      0.0660
6   Total     0.1500     0.1500      0.1500
7    EAEU     0.1039     0.1076      0.1057
8  Other2     0.0269     0.0286      0.0277

  country 2015_index 2017_index total_index
0  Russia     0.0285     0.0290      0.0288
1      EU     0.0143     0.0175      0.0159
2  Turkey     0.0120     0.0125      0.0122
3   China     0.0065     0.0062      0.0064
4     USA     0.0053     0.0054      0.0053
5   Other     0.0435     0.0394      0.0414
6   Total     0.1100     0.1100      0.1100
7    EAEU     0.0392     0.0379      0.0385
8  Other2     0.0328     0.0305      0.0317

  country 2015_index 2017_index total_index
0  Russia     0.0280     0.0281      0.0281
1      EU     0.0151     0.0136      0.0143
2  Turkey     0.0107     0.0120      0.0114
3     USA     0.0048     0.0048      0.0048
4   China     0.0033     0.0041      0.0037
5   Other     0.0480     0.0474      0.0477
6   Total     0.1100     0.1100      0.1100
7    EAEU     0.0396     0.0402      0.0399
8  Other2     0.0365     0.0353      0.0359

  country total_index
0  Russia      0.0987
1      EU      0.0021
2  Turkey      0.0014
3   China      0.0004
4     USA      0.0002
5   Other      0.0073
6   Total      0.1100
7    EAEU      0.1056
8  Other2      0.0004

In [514]:
df_index = pd.merge(df_trade_i, df_fdi_i, on='country')
df_index = pd.merge(df_index, df_di_i, on='country')
df_index = pd.merge(df_index, df_pol_i, on='country')
df_index = pd.merge(df_index, df_eco_i, on='country')
df_index = pd.merge(df_index, df_cul_i, on='country')
df_index = pd.merge(df_index, df_mig_i, on='country')

<ipython-input-514-711a7494c9da>:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'total_index_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_index = pd.merge(df_index, df_pol_i, on='country')
<ipython-input-514-711a7494c9da>:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'total_index_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_index = pd.merge(df_index, df_cul_i, on='country')

In [515]:
data_cols = [("country", ""),
 ("trade", "2002-2011"),
 ("trade", "2012-2021"),
 ("trade", "total"),
 ("FDI", "2004-2013"),
 ("FDI", "2014-2021"),
 ("FDI", "total"),
 ("DI", "2004-2013"),
 ("DI", "2014-2021"),
 ("DI", "total"),
 ("POL", "2015"),
 ("POL", "2017"),
 ("POL", "total"),
 ("ECO", "2015"),
 ("ECO", "2017"),
 ("ECO", "total"),
 ("CUL", "2015"),
 ("CUL", "2017"),
 ("CUL", "total"),
 ("Migration", "total")]

In [516]:
df_index.columns = pd.DataFrame(data_cols)
df_index.columns = pd.MultiIndex.from_tuples(data_cols)

#4. Финальная таблица индексов

In [517]:
df_index.iloc[:,1:] = df_index.iloc[:,1:].astype(float)

<ipython-input-517-356d9b780267>:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_index.iloc[:,1:] = df_index.iloc[:,1:].astype(float)

In [518]:
columns_2002_2011 = [("trade", "2002-2011"),
("FDI", "2004-2013"),
("DI", "2004-2013"),
("POL", "2015"),
("ECO", "2015"),
("CUL", "2015"),
("Migration", "total")]

In [519]:
columns_2012_2021 = [("trade", "2012-2021"),
("FDI", "2014-2021"),
("DI", "2014-2021"),
("POL", "2017"),
("ECO", "2017"),
("CUL", "2017"),
("Migration", "total")]

In [520]:
df_index['decade_1'] = df_index[columns_2002_2011].sum(axis=1) #суммируем колонны за первое десятилетие
df_index['decade_2'] = df_index[columns_2012_2021].sum(axis=1) #суммируем колонны за второе десятилетие

In [521]:
#делаем метрики

In [522]:
df_index['index_growth'] = df_index['decade_2'] - df_index['decade_1'] #измеряем рост
df_index['percentage_growth'] = df_index['decade_2'] / df_index['decade_1']*100 #измеряем рост в %

In [523]:
def percentage_edit(row):
  if row < 100:
    return row - 100
  else:
    return row

In [524]:
df_index['percentage_growth'] = df_index['percentage_growth'].apply(percentage_edit)

In [525]:
#Получаем модель индекса по десятилетиям с двумя метрикам (рост и рост в %)

In [526]:
df_index

  country     trade                        FDI                         DI  \
          2002-2011 2012-2021  total 2004-2013 2014-2021  total 2004-2013
0  Russia    0.1026    0.0899 0.0941    0.0201    0.0641 0.0378    0.0466
1   China    0.0453    0.0752 0.0653    0.0379    0.1191 0.0773    0.0185
2      EU    0.0321    0.0393 0.0369    0.0691    0.0512 0.0614    0.0153
3  Turkey    0.0094    0.0168 0.0144    0.0113    0.0257 0.0168    0.0078
4     USA    0.0123    0.0078 0.0093    0.0076    0.0030 0.0055    0.0061
5   Other    0.1484    0.1210 0.1301    0.2040    0.0869 0.1512    0.2258
6   Total    0.3500    0.3500 0.3500    0.3500    0.3500 0.3500    0.3200
7    EAEU    0.1504    0.1437 0.1468    0.0973    0.0797 0.0874    0.0811
8  Other2    0.1007    0.0672 0.0782    0.1268    0.0713 0.1015    0.1912

                      POL                  ECO                  CUL         \
  2014-2021  total   2015   2017  total   2015   2017  total   2015   2017
0    0.0839 0.0617 0.0649 0.0700 0.0674 0.0285 0.0290 0.0288 0.0280 0.0281
1    0.0394 0.0288 0.0068 0.0049 0.0059 0.0065 0.0062 0.0064 0.0033 0.0041
2    0.0115 0.0138 0.0037 0.0031 0.0034 0.0143 0.0175 0.0159 0.0151 0.0136
3    0.0098 0.0086 0.0056 0.0048 0.0052 0.0120 0.0125 0.0122 0.0107 0.0120
4    0.0069 0.0062 0.0031 0.0010 0.0020 0.0053 0.0054 0.0053 0.0048 0.0048
5    0.1684 0.2008 0.0658 0.0662 0.0660 0.0435 0.0394 0.0414 0.0480 0.0474
6    0.3200 0.3200 0.1500 0.1500 0.1500 0.1100 0.1100 0.1100 0.1100 0.1100
7    0.1005 0.0883 0.1039 0.1076 0.1057 0.0392 0.0379 0.0385 0.0396 0.0402
8    0.1518 0.1742 0.0269 0.0286 0.0277 0.0328 0.0305 0.0317 0.0365 0.0353

         Migration decade_1 decade_2 index_growth percentage_growth
   total     total
0 0.0281    0.0987   0.3894   0.4637       0.0743          119.0806
1 0.0037    0.0004   0.1187   0.2493       0.1306          210.0253
2 0.0143    0.0021   0.1517   0.1383      -0.0134           -8.8332
3 0.0114    0.0014   0.0582   0.0830       0.0248          142.6117
4 0.0048    0.0002   0.0394   0.0291      -0.0103          -26.1421
5 0.0477    0.0073   0.7428   0.5366      -0.2062          -27.7598
6 0.1100    0.1100   1.5000   1.5000       0.0000          100.0000
7 0.0399    0.1056   0.6171   0.6152      -0.0019           -0.3079
8 0.0359    0.0004   0.5153   0.3851      -0.1302          -25.2668

экспорт для jupyter

In [527]:
# df_index.to_csv("<path to desktop and filename>")

# #Example path : C:/Users/<>/Desktop/<file name>.csv

экспорт для гугл коллаб

In [528]:
# from google.colab import drive
# drive.mount('/content/drive')
# excel_file_path = '/content/drive/MyDrive/Diploma/df_index.xlsx'
# df_index.to_excel(excel_file_path, index=False)